.chat-side
  .side-header
    .side-header__box
      = current_user.name
    .side-header__box__menu
      = link_to new_group_path, class: "side-header__box__menu__btn" do
        %i.fa.fa-edit
      = link_to edit_user_path(current_user), class: "side-header__box__menu__cog" do
        %i.fa.fa-cog

  .groups
    - current_user.groups.each do |group|
      .groups__group
        = link_to group_messages_path(group) do
          .groups__group__name
            = group.name
          .groups__group__message
            = group.show_last_message